definitions:
  api.ErrorResponse:
    properties:
      error:
        type: string
      message:
        type: string
    type: object
  api.HealthResponse:
    properties:
      status:
        type: string
    type: object
info:
  contact: {}
paths:
  /{path}:
    get:
      description: Process image based on URL parameters (Resize, Crop, Flip, Filters)
      parameters:
      - description: Image processing path
        in: path
        name: path
        required: true
        type: string
      produces:
      - application/octet-stream
      responses:
        "200":
          description: Processed image
          schema:
            type: file
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "404":
          description: Image not found
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "500":
          description: Internal error
          schema:
            $ref: '#/definitions/api.ErrorResponse'
      summary: Process image
      tags:
      - Image
  /healthz:
    get:
      description: Check if service is running properly
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.HealthResponse'
      summary: Health check
      tags:
      - Health
swagger: "2.0"
